@charset "utf-8";

/* 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,dl{
    list-style: none;
}
a{
    text-decoration: none;
}

#main{
    width: 100%;
    display: flex;
}

/*------------- 사이드바 -------------*/
#main aside{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: solid 1px #6628a7;
    padding: 20px 0;

}

/* 로고 */
#main aside h1 a{
    display: block;
}
#main aside h1 a img{
    display: block;
    width: 90%;
    margin: 0 auto;
}

#main aside nav{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 메뉴1 */
#main aside nav .nav01_depth01 > li > a{
    display: block;
    line-height: 40px;
    background-color: #6628a7;
    color: #fff;
}
#main aside nav .nav01_depth01 > li:hover > a{
    color: #333;
    background-color: #c3b5d1;
}
#main aside nav .nav01_depth02{
    height: 0;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}
#main aside nav .nav01_depth02 li a{
    display: block;
    line-height: 40px;
    width: 100%;
    color: #333;
    background-color: #c3b5d1;
}
#main aside nav .nav01_depth02 li:hover a{
    color: #333;
    background-color: #fff;
}
#main aside nav .nav01_depth01 > li:hover .nav01_depth02{
    height: 160px;
}
#main aside nav .nav01_depth01 > li:nth-child(3):hover .nav01_depth02,
#main aside nav .nav01_depth01 > li:nth-child(4):hover .nav01_depth02{
    height: 120px;
}

/* 메뉴2 */
#main aside nav .nav02_depth01 > li{
    position: relative;
}
#main aside nav .nav02_depth01 > li > a{
    display: block;
    line-height: 40px;
    background-color: #6628a7;
    color: #fff;
}
#main aside nav .nav02_depth01 > li:hover > a{
    color: #333;
    background-color: #c3b5d1;
}
#main aside nav .nav02_depth02{
    position: absolute;
    display: flex;
    top: 0;
    left: 100%;
    width: 0;
    overflow: hidden;
    background-color: #c3b5d1;
    transition: all 0.6s ease-in-out;
    z-index: 100;
}
#main aside nav .nav02_depth02 li a{
    display: block;
    line-height: 40px;
    width: 120px;
    color: #333;
}
#main aside nav .nav02_depth02 li:hover a{
    color: #333;
    background-color: #fff;
}
#main aside nav .nav02_depth01:hover .nav02_depth02{
    width: calc(100vw - 197px);
}

/* 스팟메뉴 */
#main aside .spot_menu{
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#main aside .spot_menu li{
    width: 50%;
    border: solid 1px #6628a7;
}
#main aside .spot_menu li:last-child{
    border-left: 0;
}
#main aside .spot_menu li a{
    display: block;
    line-height: 32px;
    font-size: 14px;
    color: #767676;
    transition: all 0.4s ease-in-out;
}
#main aside .spot_menu li:hover a{
    color: #6628a7;
    font-weight: bold;
}

#main .left_container{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/*------------- 미들배너 -------------*/
#main .middle_banner{
    background-color: #6628a7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#main .middle_banner > div{
    display: flex;
    gap: 20px;
}
#main .middle_banner_img{
    width: 40px;
}
#main .middle_banner_img img{
    display: block;
    width: 100%;
}
#main .middle_banner_text h2{
    color: #fff;
    font-size: 14px;
}
#main .middle_banner_text p{
    color: #fff;
    font-size: 14px;
}
#main .middle_banner_icon{
    width: 20px;
}
#main .middle_banner_icon a{
    display: block;
}
#main .middle_banner_icon a img{
    display: block;
    width: 100%;
}

/*------------- 탭 -------------*/
#main .tab{
    width: 90%;
    margin: 0 auto;
    display: flex;
    position: relative;
}
#main .tab > li{
    width: 50%;
}
#main .tab > li input{
    display: none;
}
#main .tab > li label{
    display: block;
    text-align: center;
    line-height: 40px;
    background-color: #c3b5d1;
    color: #fff;
}
#main .tab > li input:checked ~label{
    display: block;
    text-align: center;
    line-height: 40px;
    background-color: #6628a7;
    color: #fff;
}
#main .tab > li > div{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 20px;
    background-color: #fff;
    height: 200px;
    border: solid 1px #6628a7;
}
#main .tab li input:checked ~div{
    z-index: 50;
}

/*------------- 공지사항탭 -------------*/
#main .notice_tab .tab li div dl{
    display: flex;
    justify-content: space-between;
}
#main .notice_tab .tab li div dl dt{
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#main .notice_tab .tab li div dl dt a{
    line-height: 40px;
    color: #333;
}
#main .notice_tab .tab li div dl dd a{
    line-height: 40px;
    color: #333;
}

/*------------- 갤러리탭 -------------*/
#main .gallery_tab{
    margin-top: 200px;
}
#main .gallery_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#main .gallery_content > li{
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#main .gallery_content > li div a{
    display: block;
}
#main .gallery_content > li div a img{
    display: block;
    width: 100%;
    opacity: 0.6;
    transition: all 0.4s ease-in-out;
}
#main .gallery_content > li div a img:hover{
    opacity: 1;
}
#main .gallery_content > li p a{
    display: block;
    text-align: center;
    color: #333;
}

#main .right_container{
    width: calc(100% - 200px - 400px);
}

/*------------- 상하슬라이드 -------------*/
#main .slide_container div{
    height: 800px;
    overflow: hidden;
}
#main .slide_container div ul{
    height: 100000000px;
}
#main .slide_container div ul li{
    width: 100%;
    height: 800px;
}
#main .slide_container div ul li a{
    display: block;
    height: 100%;
}
#main .slide_container div ul li a img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*------------- 바로가기 -------------*/
#main .q_btn{
    position: absolute;
    width: 80px;
    top: 0;
    right: 0;
}
#main .q_btn ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main .q_btn ul li{
    padding: 30px 20px;
    background-color: rgb(102, 40, 167, 0.2);
}
#main .q_btn ul li:hover{
    background-color: rgb(102, 40, 167, 0.6);
}
#main .q_btn ul li a{
    display: block;
}
#main .q_btn ul li a img{
    display: block;
    width: 100%;
}

/*------------- 푸터 -------------*/
#footer{
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: #c3b5d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 */
#footer h3{
    width: 100px;
}
#footer h3 a{
    display: block;
}
#footer h3 a img{
    display: block;
    width: 100%;
}

/* 카피라이트 */
#footer p{
    width: 70%;
}

/* 패밀리사이트 */
#footer .family_site{
    width: 10%;
    position: relative;
}
#footer .family_site button{
    background-color: #6628a7;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    width: 100%;
}
#footer .family_site ul{
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 9999;
}
#footer .family_site ul.slide{
    height: 122px;
}
#footer .family_site ul li{
    border-bottom: solid 1px #c3b5d1;
}
#footer .family_site ul li:last-child{
    border: 0;
}
#footer .family_site ul li:hover a{
    background-color: #6628a7;
    color: #fff;
}
#footer .family_site ul li a{
    line-height: 40px;
    width: 100%;
    display: block;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}


/* sns 바로가기 */
#footer .sns_qbtn{
    width: 10%;
    display: flex;
    align-items: center;
    gap: 10px;
}
#footer .sns_qbtn li{
    border-radius: 10px;
    overflow: hidden;
}
#footer .sns_qbtn li a{
    display: block;
}
#footer .sns_qbtn li a img{
    display: block;
    width: 100%;
}

/*------------- 모달 팝업 -------------*/
.modal_popup{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.2);
    z-index: 99999999999999;
}
.modal_popup div{
    position: absolute;
    width: 400px;
    height: 300px;
    top: calc(50% - 200px);
    left: calc(50% - 150px);
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal_popup div button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 100px;
    line-height: 30px;
    border: solid 1px #333;
    background-color: transparent;
    cursor: pointer;
}
.modal_popup div button:hover{
    background-color: #333;
    color: #fff;
}

/*------------- 레이어 팝업 -------------*/
.layer_popup{
    position: absolute;
    width: 400px;
    height: 300px;
    top: calc(50% - 200px);
    left: calc(50% - 150px);
    background-color: #fff;
    padding: 20px;
    display: none;
}
.layer_popup div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.layer_popup button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 100px;
    line-height: 30px;
    border: solid 1px #333;
    background-color: transparent;
    cursor: pointer;
}
.layer_popup div button:hover{
    background-color: #333;
    color: #fff;
}

.pop{
    display: block;
}