@charset "UTF-8";

/* ------------------ 리셋 ----------------- */
*{
    margin: 0;
    padding: 0;
}
ol,ul,dl{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}

.wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: solid 2px #FF7B54;
    box-sizing: border-box;
}
.wrap main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 120px);
}

/* ---------------- 사이드바 ----------------- */
#aside{
    width: 200px;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 10px;
    border-right: solid 1px #FF7B54;
    box-sizing: border-box;
}
#aside h1{}
#aside h1 a{}
#aside h1 a img{
    display: block;
    height: 100%;
    width: 90%;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}
#aside nav{
    width: 100%;
    border: solid 1px #FF7B54;
    box-sizing: border-box;
}
#aside .menuDepth01{}
#aside .menuDepth01 > li{}
#aside .menuDepth01 > li > a{
    display: block;
    line-height: 50px;
    color: #fff;
    background-color: #FF7B54;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
}
#aside .menuDepth02{
    height: 0;
    overflow: hidden;
    background-color: #FF7B54;
    transition: all 0.6s ease-in-out;
}
#aside .menuDepth02 li{}
#aside .menuDepth02 li a{
    display: block;
    line-height: 40px;
    color: #333;
    background-color: #FFB26B;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 16px;
    border-bottom: dashed 1px #FF7B54;
}
#aside .menuDepth02 li:last-child a{
    border: 0;
}
#aside .loginJoin{
    display: flex;
    justify-content: center;
}
#aside .loginJoin li{}
#aside .loginJoin li a{
    display: inline-block;
    font-size: 14px;
}
#aside .loginJoin li:last-child a::before{
    display: inline-block;
    content: '';
    width: 1px;
    height: 10px;
    margin: 0 4px;
    background-color: #333;
}
/* ----------------- 사이드바 호버 ------------------ */
#aside .menuDepth01 > li:hover .menuDepth02{
    height: 163px;
}
#aside .menuDepth01 > li:last-child:hover .menuDepth02{
    height: 122px;
}
#aside .menuDepth01 > li:hover > a,
#aside .menuDepth02 li:hover a{
    background-color: #fff;
    color: #FF7B54;
}

/* ---------------------- 좌측 컨텐츠 --------------------- */
#leftContents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 100%;
    padding: 30px 20px;
    border-right: solid 1px #FF7B54;
    box-sizing: border-box;
}
#leftContents article{
    width: 360px;
    box-sizing: border-box;
}
#leftContents article:last-child{
    border: 0;
}
#leftContents article h2{}
#leftContents article h2 a{
    display: block;
    font-size: 16px;
    line-height: 30px;
}
/* 서브 배너 */
#subBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#subBanner img{
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 2px;
}
#subBanner div{
    display: flex;
    flex-direction: column;
}
#subBanner div h2{}
#subBanner div h2 a{}
#subBanner div p{}
#subBanner div p a{
    display: block;
    line-height: 20px;
}
#subBanner .addBtn{
    content: '';
    width: 20px;
    height: 20px;
    border-top: solid 2px #333;
    border-right: solid 2px #333;
    box-sizing: border-box;
    transform: rotate(45deg);
}
/* 공지사항 */
#notice{}
#notice h2{}
#notice h2 a{
    display: block;
    line-height: 30px;
    width: 80px;
    text-align: center;
    border-radius: 4px 4px 0 0;
    background-color: #FF7B54;
    color: #fff;
}
#notice div{
    border: solid 1px #FF7B54;
    border-radius: 0 4px 4px 4px;
    padding: 10px;
    box-sizing: border-box;
}
#notice div dl{
    display: flex;
    justify-content: space-between;
    border-bottom: dashed 1px #FF7B54;
}
#notice div dl:last-child{
    border: 0;
}
#notice div dl dt{}
#notice div dl dt a{
    display: block;
    line-height: 40px;
}
#notice div dl dd{}
#notice div dl dd a{
    display: block;
    line-height: 40px;
    font-size: 14px;
}
/* 갤러리 */
#gallery{}
#gallery h2{}
#gallery h2 a{
    display: block;
    line-height: 30px;
    width: 80px;
    text-align: center;
    border-radius: 4px 4px 0 0;
    background-color: #FF7B54;
    color: #fff;
}
#gallery ul{
    border: solid 1px #FF7B54;
    border-radius: 0 4px 4px 4px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
#gallery ul li{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#gallery ul li a{}
#gallery ul li a img{
    display: block;
    width: 160px;
    height: 300px;
    object-fit: cover;
    border-radius: 2px;
}
#gallery ul li span{
    font-size: 14px;
    text-align: center;
}
/* 바로가기 */
#direct{}
#direct ul{
    display: flex;
    justify-content: space-between;
}
#direct ul li{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#direct ul li a{}
#direct ul li a img{
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 2px;
}
#direct ul li span{
    display: block;
}
#direct ul li span a{
    display: block;
    font-size: 14px;
    text-align: center;
}

/* ------------------ 메인배너 ------------------ */
#mainBanner{
    width: calc(100% - 600px);
    height: 100%;
    overflow: hidden;
}
#mainBanner ul{
    display: flex;
    width: 999999999999px;
    height: 100%;
}
#mainBanner ul li{
    width: calc(100vw - 600px);
    height: 100%;
}
#mainBanner .bg01{
    background: url(../images/hs.jpg) no-repeat center / cover;
}
#mainBanner .bg02{
    background: url(../images/sub.jpg) no-repeat center / cover;
}
#mainBanner .bg03{
    background: url(../images/b.jpg) no-repeat center / cover;
}

#mainBanner ul li a{}

/* ----------------------- 풋터 ----------------------- */
#footer{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    border-top: solid 2px #FF7B54;
    box-sizing: border-box;
}
#footer h3{
    display: block;
    width: 200px;
    height: 100%;
    padding: 0 10px;
    border-right: solid 1px #FF7B54;
    box-sizing: border-box;
}
#footer h3 a{}
#footer h3 a img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
#footer .footerDepth01{
    display: flex;
    flex-direction: column;
    height: 120px;
    width: calc(100% - 200px);
}
#footer .footerDepth01 > li{
    height: 50%;
    width: 100%;
    border-bottom: solid 1px #FF7B54;
    padding-left: 20px;
    box-sizing: border-box;
}
#footer .footerDepth01 > li:last-child{
    border: 0;
}
#footer .footerDepth02-menu{
    display: flex;
    width: 100%;
    height: 100%;
}
#footer .footerDepth02-menu li{}
#footer .footerDepth02-menu li a{
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
}
#footer .footerDepth02-menu li a::after{
    content: '';
    width: 1px;
    height: 12px;
    background-color: #333;
    vertical-align: middle;
    display: inline-block;
    margin: 0 10px;
}
#footer .footerDepth02-menu li:last-child a::after{
    display: none;
}
#footer .footerDepth01 li p{
    line-height: 60px;
}

/*-------- 레이어 팝업입니다 --------*/
#popUpBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(114, 18, 18, 0.6);
    display: none;
}
#popUpBg div{
    height: 300px;
    width: 500px;
    background-color: #fff;
    border: solid 1px #2d2924;
    border-radius: 12px;
    padding: 40px 30px;
    position: fixed;
    top: calc(40% - 150px);
    left: calc(50% - 250px);
    flex-direction: column;
    gap: 20px;
}
#popUpBg .closeBtn{
    color: #333;
    font-size: 14px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 4px 12px;
    border: 0;
    border-radius: 6px;
    background-color: #ccc;
    cursor: pointer;
}
#popUpBg h4{
    font-size: 20px;
    line-height: 40px;
}
#popUpBg p{
    font-size: 16px;
    line-height: 20px;
}
.showPopUp{
    display: block !important;
}